body{
  background-image: url("fon.jpg");
  background-size: contain;
}
.text{
  color: aliceblue;
}
.name{
  display: grid;
  justify-items: center;
  margin-top: 30px;
}
.artem_img{
  height: 550px;
  width: 550px;
  border-radius: 30px;
  animation-name: small-to-big;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(1,0,0,1);
}
.board{
  position: fixed;
  top: 400px;
  left: 0;
  display: grid;
  justify-items: center;
}
.fon{
  height: 50px;
  width: 140px;
}
.panel{
  position: absolute;
  right: 0;
  width: 700px;
}
.end{
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  background-size: cover;
  justify-content: center;
  align-items: center;
}
#messager{
  resize: none;
  height: 70px;
  width: 600px;
}
.send{
  height: 75px;
  width: 90px;
}

@keyframes small-to-big {
  from {
    height: 50px;
    width: 50px;
    border-radius: 30px;
  }
  50% {
    width: 550px;
  }
  to {
    height: 550px;
    width: 550px;
  }
}
